@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* line 53, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 61, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
header nav {
  width: 100%;
  background-color: #1C3879;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 5px;
}

/* line 72, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
header img {
  margin-right: auto;
  height: 40px;
}

/* line 77, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#iconoMenu {
  color: #eae3d2;
  background-color: #eae3d2;
}

/* line 82, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#menuHorizontal {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  gap: 5px;
  float: right;
  margin: 0%;
}

/* line 90, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#menuHorizontal a {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #eae3d2;
  background-color: #607eaa;
  font-size: 18px;
  padding: 3px 3px;
}

/* line 98, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#menuHorizontal a:hover {
  background-color: #1C3879;
}

/* line 103, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#menuHorizontal li {
  float: right;
}

/* line 105, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#menuHorizontal li a {
  display: block;
  text-align: center;
}

/* line 114, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
main {
  background-color: #f9f5eb;
}

/* line 116, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
main a {
  color: #f9f5eb;
  background-color: #1C3879;
  text-decoration: none;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
}

/* line 130, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #607eaa;
  font-size: 50px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
  margin: 20px;
  width: 100%;
}

/* line 143, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.scale-in-hor-center {
  animation: scale-in-hor-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* line 147, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.imagenPcpal {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

/* line 153, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#servicios {
  display: flex;
  gap: 5px;
  margin-top: 50px;
}

/* line 157, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#servicios div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  margin-bottom: 55px;
  padding: 3px;
  border: 2px solid #607eaa;
}

/* line 165, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#servicios div a {
  align-self: flex-end;
}

/* line 171, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
h2 {
  color: #607eaa;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

/* line 179, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
p {
  color: #201a0cb0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: justify;
  font-size: 15px;
  padding: 10px;
  flex-grow: 1;
}

/* line 190, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.slide-top:hover {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* line 195, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.roll-in-left {
  animation: roll-in-left 2s ease-out both;
}

/* line 199, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina {
  width: 100%;
  background-color: #1C3879;
  margin: 100;
}

/* line 203, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 5px 0px;
}

/* line 212, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 218, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .box figure img {
  width: 50px;
}

/* line 222, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .box h2 {
  color: #f9f5eb;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* line 230, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .box p {
  color: #f9f5eb;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 237, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #f9f5eb;
  margin-right: 10px;
  background-color: #607eaa;
  text-align: center;
  transition: all 300ms ease;
}

/* line 248, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-1 .red-social a:hover {
  color: #1C3879;
}

/* line 254, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-2 {
  background-color: #607eaa;
  padding: 15px 10px;
  text-align: center;
  color: #f9f5eb;
}

/* line 259, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* line 265, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.izquierda {
  text-align: left;
}

/* line 269, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
#conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* line 276, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.listaDestino {
  flex: auto;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1C3879;
}

/* line 281, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.listaDestino .Prov {
  font-size: 20px;
}

/* line 286, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.tracking-in-expand-fwd {
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* line 291, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
.formulario {
  margin: 15px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

/* line 299, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #1C3879;
  border-radius: 4px;
}

/* line 308, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #1C3879;
  border-radius: 4px;
}

/* line 319, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
form label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

@media (max-width: 767px) {
  /* line 326, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
  h1 {
    text-align: center;
  }
  /* line 329, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
  #servicios {
    display: inline;
    margin: 60px;
  }
  /* line 334, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  /* line 341, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
  #conteiner {
    display: inline;
  }
  /* line 344, ../../Desktop/Progamacion Coder/PreEntrega3Dronseck/scss/Estilo.scss */
  .formulario {
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=Estilo.css.map */